.jumbotron-section {
  
  /* Adjust 64px to the height of your navbar */
  display: flex;
  justify-content: center;
  align-items: center;
}
.own-shadow {
  text-shadow: 0px 10px 15px #000000; 
}
.small-shadow{
  text-shadow: 0px 2.5px 2.5px #000000,
  0px 2.5px 2.5px #000000;
  
}